/* ............Style for phone................. */
/* ..........Nav........... */
nav {
    background-color: #1375E4;
    display: flex;
    justify-content: space-evenly;
    color: white;
    height: 130px;
}

nav img {
    width: 80px;
    /* padding-top: 15px; */
    border-radius: 92%;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav div:hover {
    background-color: #004CA1;
}

/* .................Main.......................... */
main {
    color: #1375E4;
    font-size: larger;
    font-weight: 600;
    padding-left: 9%;
}

main p {
    color: #8C97A4;
}

.imgInput {
    height: 130px;
    width: 40%;
    margin-top: 2%;
    border: 2px dashed #85b9f6;
}

hr {
    color: #1375E4;
}

input {
    width: 85%;
    padding: 10px 12px 10px 12px;
    font-size: 20px;
    height: 34px;
    color: #3c94fa;
    border: 1px solid #8BC7FF;
    border-radius: 8px;
}

.button input {
    background-color: #59CDFF;
    color: white;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

input[type="button"] {
    box-shadow: 0px 7px #367DCA;
    width: 75%;
    height: 65%;
    /* padding-right: 50%; */
    margin-left: 25px;
}

h5 {
    font-weight: 900;
    padding-top: 20%;
    padding-left: 5%;
}

h5 img {
    /* height: 30px; */
    width: 20px;
}

/* ..................footer...................*/
footer {
    width: 100%;
    background-color: #1375E4;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding-left: 9%;
    gap: 10px;
    padding-top: 3%;
    padding-bottom: 3%;
    /* position: absolute; */
}

a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    text-decoration: underline;
}

/* ...........style for desktop.............. */
@media (min-width:764px) {
    .imgInput {
        width: 10%;
        height: 190px;
    }

    .form-detail {
        display: flex;
        /* justify-content: space-around; */
    }

    .text-type {
        width: 70%;
    }
    .number-type{
        width: 150%;
    }

    input[type="button"] {
        margin-top: 40px;
        padding: 20px;
        font-weight: bold;
        border-radius: 10px;
        font-size: 30px;
    }

    h5 {
        padding-top: 80px;
        padding-left: 30%;
        font-size: larger;
        font-weight: bold;
    }

    footer {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 150%;
        font-weight: 400;
    }
    .last-div{
        width: 150%;
    }
    .lastDiv-detail{
        display: flex;
        /* justify-content: space-around */
        gap: 17%;
    }


}